#SidebarButton{
    color: darkcyan;
    -fx-background-radius: 100em;
    -fx-border-radius: 100em;
    -fx-background-color: whitesmoke;
    -fx-border-width: 0.17em;
    -fx-border-color: darkcyan;

    -fx-font-size: 1.15em;
    -fx-text-fill: black;

    -fx-skin: 'IdeaBowlApplication.UserInterface.Styling.SidebarButtonAnimation';
}

#SidebarButton:hover{
    -fx-text-fill: whitesmoke;
    -fx-background-color: darkcyan;
}


#TagCategoryButton {
    -fx-background-color: whitesmoke;
    -fx-border-color: black;
    -fx-font-size: 1.5em;
}

#CategoryButton {
    -fx-text-fill: darkcyan;
    -fx-background-color: whitesmoke;
}
#CategoryButton:hover {
    -fx-text-fill: whitesmoke;
    -fx-background-color: darkcyan;
}
#CategoryButton:selected {
    -fx-text-fill: whitesmoke;
    -fx-background-color: darkcyan;
}


#TitleText {
    -fx-color: darkcyan;
    -fx-font-size: 1.65em;
}

#IdeaText{
    -fx-fill: darkcyan;
    -fx-font-size: 1.3em;
}


#MediaText{
    -fx-fill: inherit;
    -fx-font-size: 1.25em;
}


#MediaButtonLarge, #MediaButtonSmall, #MediaButton{
    -fx-background-color: inherit;
    -fx-border-color: darkcyan;
    -fx-font-size: 1.25em;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
    -fx-skin: 'IdeaBowlApplication.UserInterface.Styling.SidebarButtonAnimation';
}

#MediaButtonLarge:hover, #MediaButtonSmall:hover, #MediaButton:hover{
    -fx-text-fill: whitesmoke;
    -fx-background-color: darkcyan;
}
